@model ProyectoLenguajes.Models.DTO.ChangePasswordModel

@{
    //ViewData["Title"] = "EditProfile";
}


@using (Html.BeginForm("changePassword", "UserAuthentication", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
}








<!-- Write your comments here <h1>View</h1>

<h4>ChangePasswordModel</h4>
<hr />
<div class="row">

    <div class="col-md-4">
       @if(ViewBag.IsSuccess = true)
        {
            <div class="alert alert-success" role="alert">
                 Password has been updated successfully
                </div>
        }
        <form asp-action="EditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
-->
