@model IEnumerable<ProyectoLenguajes.Models.Episode>

@{
    ViewData["Title"] = "Episodes";
}

<h1 class="text-center">@ViewBag.ms_tittle Episodes</h1>

<p>
    <a asp-action="Create" asp-route-ms_id="@ViewBag.ms_id">Add Episode</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Season
            </th>
            <th>
                Episode
            </th>
            <th>
                Tittle
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.season_id)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.episode_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Details" asp-route-ms_id="@item.ms_id" asp-route-season_id="@item.season_id" asp-route-episode_id="@item.episode_id" class="dropdown-item">Details</a></li>
                            <li><a asp-action="Edit" asp-route-ms_id="@item.ms_id" asp-route-season_id="@item.season_id" asp-route-episode_id="@item.episode_id" class="dropdown-item">Edit</a></li>
                            <li><a asp-action="Delete" asp-route-ms_id="@item.ms_id" asp-route-season_id="@item.season_id" asp-route-episode_id="@item.episode_id" class="dropdown-item">Delete</a></li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Movie_Serie" asp-action="Index">Back to Movies and Series</a>