@model ProyectoLenguajes.Models.MovieOrSerieData

@{
    ViewData["Title"] = Model.movie_serie.tittle;
}
<style>
    .rating-container {
      display: inline-block;
      font-size: 2rem;
    }

    .rating-container .star {
      color: #0B0B61;
      cursor: pointer;
      transition: color 0.2s;
    }

    .rating-container .star:hover,
    .rating-container .star:hover ~ .star {
      color: #FFBF00;
    }

    .rating-container .star.checked {
      color: #FFBF00;
    }
  </style>

<h5>Votes: @Model.rating_data.votes</h5>
<h5>Percentage: @Model.rating_data.percentage</h5>
<div class="container">
    <div class="rating-container">
        <span class="star" onclick="rateMovie(1)" onmouseover="highlightStars(1)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(2)" onmouseover="highlightStars(2)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(3)" onmouseover="highlightStars(3)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(4)" onmouseover="highlightStars(4)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(5)" onmouseover="highlightStars(5)" onmouseout="resetStars()">&#9733;</span>
    </div>
</div>
<h5>Promedio: @Model.rating_data.average de 5</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Rate">
            <div class="form-group">
                <input type="hidden" id="rating1" name="rating1" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="app_user" value="@User.Identity.Name" />
            </div>
            <div class="form-group">
                <input type="hidden" name="ms_id" value="@Model.movie_serie.ms_id" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="btn_rating" hidden/>
            </div>
        </form>
    </div>
</div>


<iframe onload="rateMovie(@Model.rating_data.average)" hidden></iframe>
@section Scripts {
    <script>
        $(document).ready(function () {
            showRate(@Model.rating_data.average);
        });
    </script>
    <script src="~/js/mosd.js" asp-append-version="true"></script>
}