@model ProyectoLenguajes.Models.MovieOrSerieData

@{
    ViewData["Title"] = Model.movie_serie.tittle;
}
<style>
    .rating-container {
      display: inline-block;
      font-size: 2rem;
    }

    .rating-container .star {
      color: #0B0B61;
      cursor: pointer;
      transition: color 0.2s;
    }

    .rating-container .star:hover,
    .rating-container .star:hover ~ .star {
      color: #FFBF00;
    }

    .rating-container .star.checked {
      color: #FFBF00;
    }


  </style>
@{
    int ms_id = Model.movie_serie.ms_id;
    string app_user = User.Identity.Name;
}
<div class="d-flex flex-row">
    <img id="img_ms" src="@Model.movie_serie.cover" class="d-block w-25 h-25 img-thumbnail">
    <div class="d-flex flex-column flex-wrap m-2">
        <span class="display-6 text-capitalize">@Model.movie_serie.tittle</span>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-md-center text-center m-1">
            <div class="d-flex flex-column justify-content-center align-items-md-center text-center">
                 <div class="rating-container">
                    <span class="star" onclick="rateMovie(1,'@app_user',@ms_id)" onmouseover="highlightStars(1)" onmouseout="resetStars()">&#9733;</span>
                    <span class="star" onclick="rateMovie(2,'@app_user',@ms_id)" onmouseover="highlightStars(2)" onmouseout="resetStars()">&#9733;</span>
                    <span class="star" onclick="rateMovie(3,'@app_user',@ms_id)" onmouseover="highlightStars(3)" onmouseout="resetStars()">&#9733;</span>
                    <span class="star" onclick="rateMovie(4,'@app_user',@ms_id)" onmouseover="highlightStars(4)" onmouseout="resetStars()">&#9733;</span>
                    <span class="star" onclick="rateMovie(5,'@app_user',@ms_id)" onmouseover="highlightStars(5)" onmouseout="resetStars()">&#9733;</span>
                 </div>
                 <span class="px-1" id="rating_info">(@Model.rating_data.votes votes, average: @Model.rating_data.average from 5)</span>
            </div>
            @if (@Model.duration_h_m != "")
            {
                <span class="px-1">@Model.duration_h_m </span>
            }
            <span class="px-1">@Model.movie_serie.release_year</span>
        </div>
        <span class="px-1">@Model.movie_serie.synopsis</span>
        <span class="px-1">Director: @Model.movie_serie.director</span>
        <span class="px-1">Genres: @Model.genres</span>
    </div>
</div>
<br/><br/><br/>
<div id="actor_carousel">
    @foreach (var actor in Model.actors)
    {
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-center text-center">
            <img id="img_a" src="@actor.actor_photo" class="d-block w-50 h-50 img-thumbnail">
            <span class="px-1 text-capitalize">@actor.actor_first_name @actor.actor_last_name</span>
        </div>
    }
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            showRate(@Model.rating_data.average);
        });
    </script>
    <script src="~/js/mosd.js" asp-append-version="true"></script>
}